html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: 500;
    margin-bottom: 0;
    line-height: 1.2;
}

#wrapper {
    font-family:Zen Maru Gothic Regular,Zen Maru Gothic Bold,New Zen Regular,New Zen Medium,New Zen Bold,Arial,Hiragino Kaku Gothic ProN,Hiragino Sans,Meiryosans-serif;
    background-color: #fff;
    color: #212121;
    max-width: 100%;
    overflow:hidden;
}

header nav{
    position: fixed;
    top: 70px;
    right: 40px;
    width: 100%;
    z-index: 100;
}
header nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: end;
    align-items: center;
}
header nav a{
    text-decoration: none;
    color: #fff;
    margin-left: 30px;
    font-size:1rem;
    font-family: Zen Maru Gothic;
    font-weight: 500;
    transition: 0.2s all linear;
}
header nav a:hover{
    color: #BCBCBC;
}
header a span{
    display: inline-block;
    color: #212121;
    background-color: #FFED84;
    padding: 0.6em 2em;
    border-radius: 3em;
    transition: 0.2s all linear;
}
header a span:hover{
    background-color: #D0C482;
}
/*ハンバーガー*/
.hamburger-menu{   display:none;    }
.menu-btn {
    position: fixed;
    top: 40px;
    right: 2%;
    display: flex;
    height: 60px;
    width: 70px;
    justify-content: center;
    align-items: center;
    z-index: 90;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 40px;
    border-radius: 3px;
    background-color: #212121;
    position: absolute;
    transition: 0.2s all linear;
}
.menu-btn span:before {
    bottom: 10px;
}
.menu-btn span:after {
    top: 10px;
}
#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
    background-color: #fff;
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
    background-color: #fff;
}
#menu-btn-check {
    display: none;
}
.menu-content {
    width: 60%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 80;
    background-color: #212121;
    transition: all 0.5s;
}
.menu-content ul {
    padding: 100px 10px 0;
}
.menu-content ul li {
    list-style: none;
}
.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 1rem;
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    padding: 20px 10px 20px 10px;
    position: relative;
}
#menu-btn-check:checked ~ .menu-content {
    left: 40%;
}
/*-----------------------------------------------セクション1開始--------*/
.section1{
    background-image: url(https://github.com/joe-jhon/work1/blob/main/section1-pc.png?raw=true);
    background-size: 100%;
    background-repeat: no-repeat;
    aspect-ratio: 1/0.566;
    width: 95%;
    margin: 30px 1% 0% 4%;
}
.section1 .logo{
    margin-top:20px;
    margin-left:20px;
    width: 20%;
}
.section1 .text{
width: 55%;
margin-left:45%;
position: relative;
bottom: 140px;
}
.section1 .text .main p{
    font-family: Zen Maru Gothic;
    font-weight: 500;
    font-size: 2.5rem;
    color: #fff;
    margin-left: 2px;
    margin-bottom: 100px;
    line-height: 5rem;
}
.section1 .text .main .no-color{
    font-size: 3.5rem;
}
.section1 .text .main .no-color span{
    letter-spacing: 0.9rem;
}
.section1 .text .main .color{
    letter-spacing: 0.8rem;
    color: #EB9AC0;
    font-size: 4.5rem;
    text-shadow: -7px 7px 0 #0B6DB7;
}
.section1 .text .main .adjustment{
    position: relative;
    left: -0.7rem;
}
.section1 .text .sub p{
    font-family: Zen Maru Gothic;
    font-weight: 500;
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 60px;
}
.section1 .text .sub .ja{
    letter-spacing: 0.1rem;
}
.section1 .text .sub .en{
    font-family: New Zen;
    font-weight: 500;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
}
.section1 .text .sub a{
    font-family: Zen Maru Gothic;
    font-weight: 500;
    font-size: 1.4rem;
    color: #fff;
    background-color: #0B6DB7;
    padding: 1em 2em;
    border-radius: 3em;
    letter-spacing: 0.1rem;
    text-decoration: none;

    transition: 0.2s all linear;
}
.section1 .text .sub a:hover{
    background-color: #134A6F;
}

/*-----------------------------------------------セクション1終了--------*/

/*-----------------------------------------------セクション2開始--------*/

.section2{
    background-image: url(https://github.com/joe-jhon/work1/blob/main/section2-pc.png?raw=true);
    background-size: 100%;
    background-repeat: no-repeat;
    aspect-ratio: 1/0.672;
    width: 94%;
    margin: -30px 5% 0% 1%;
    display: flex;
    align-items: center;
}
.section2 .text{
    margin-left: 20%;
}
.section2 .text p{
    font-family: Zen Maru Gothic;
    font-weight: 500;
    font-size: 1.2rem;
}
.section2 .text .section-title{
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.section2 .text .name{
    font-family: New Zen;
    font-weight: 700;
    font-size: 3.3rem;
    letter-spacing: 0.1rem;
    text-shadow: -7px 7px 0 #C7B33D;
}
.section2 .text .question-mark{
    font-size: 1.2rem;
}
.section2 .text .introduction{
    line-height: 2.5rem;
    margin-bottom: 70px;
}
.section2 .text a{
    display: flex;
    align-items: center;
    width: fit-content;
    font-size: 1.1rem;
    color: #fff;
    background-color: #212121;
    padding: 1rem 2rem;
    border-radius: 3em;
    letter-spacing: 0.1rem;
    text-decoration: none;
    transition: 0.2s all linear;
}
.section2 .text p{
    margin-right: 1rem;
}
.section2 .text a span{
    font-family: New Zen;
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

.arrow [class*='arrow'] {
	position: relative;
    left: 0;
	display: inline-block;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	vertical-align: middle;
	color: #fff;
    transition: 0.2s all linear;
}
.arrow [class*='arrow']:after,
.arrow [class*='arrow']:before {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	content: '';
}
.arrow [class*='arrow'] {
	top: -0.1em;
	width: 11px;
	height: 11px;
	border-width: 3px 3px 0 0;
	border-style: solid;
	border-radius: 0 2px 0 0;
}
.arrow [class*='arrow']:before,
.arrow [class*='arrow']:after {
	position: absolute;
	border-radius: 2px;
}
.arrow [class*='arrow']:before {
	top: -2.3px;
	right: 0;
	width: 15px;
	height: 3px;
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	-webkit-transform-origin: right top;
	        transform-origin: right top;
	-webkit-box-shadow: inset 0 0 0 32px;
	        box-shadow: inset 0 0 0 24px;
}
.arrow [class*='arrow']:after {
    top: -3px;
    left: -1.5px;
    width: 3px;
    height: 3px;
    -webkit-box-shadow: inset 0 0 0 32px, 16px 17px;
    box-shadow: inset 0 0 0 24px, 9.5px 9.5px;
}
.arrow .arrow_right {
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.section2 .text a:hover .arrow [class*='arrow'] {
    left: 0.5rem;
}
.section2 .text a:hover{
    background-color: #3C3C3C;
}

/*-----------------------------------------------セクション2終了--------*/

/*-----------------------------------------------セクション3開始--------*/

.section3{
    background-image: url(https://github.com/joe-jhon/work1/blob/main/section3-pc.png?raw=true);
    background-size: 100%;
    background-repeat: no-repeat;
    aspect-ratio: 1/1.389;
    width: 93%;
    margin: 0px 0% 0% 7%;
}

.section3 .section-title{
    display: flex;
    align-items: center;
    font-family: Zen Maru Gothic;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    margin-left: 5%;
    margin-bottom: 10rem;
}
.section3 .section-title .arona{
    font-family: New Zen;
    font-weight: 500;
    font-size: 3rem;
}
.section3 .section-title .tokutyou{
    font-size: 2.6rem;
    margin-bottom: 0.4rem;
}
/*----activity--------------*/
.section3 .activity{
    display: flex;
    flex-direction: row;
    margin-bottom: 13rem;
}
.section3 .activity .textarea{
    font-family: Zen Maru Gothic;
    font-weight: 500;
    width: 45%;
    margin: 0 5%;
}
.section3 .activity .title{
    font-size: 6rem;
    text-shadow: -7px 7px 0 #990E2A;
    letter-spacing: -0.2rem;
    margin-left: -100px;
    margin-bottom: 2rem;
}
.section3 .activity .title .A{  position:relative;  right:-0.2rem;  }
.section3 .activity .title .C{  position:relative;  bottom:0.3rem;  }
.section3 .activity .title .T{  position:relative;  bottom:0.6rem;  }
.section3 .activity .title .I{  position:relative;  bottom:0.9rem;  }
.section3 .activity .title .V{  position:relative;  bottom:1.2rem;  }
.section3 .activity .title .I2{  position:relative;  bottom:1.5rem;  }
.section3 .activity .title .T2{  position:relative;  bottom:1.8rem;  }
.section3 .activity .title .Y{  position:relative;  bottom:2.1rem;  }

.section3 .activity .text{
    font-family: Zen Maru Gothic;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 2rem;
    margin-bottom: 30px;
}
.section3 .activity .category .title{
    font-size: 1.2rem;
    text-shadow: none;
    margin-left: 0;
    letter-spacing: 0.05rem;
    margin-bottom: 15px;
}
.section3 .activity .category .tag p{
    font-size: 1rem;
    background-color: #FCDA92;
    padding: 0.5em 1.4em;
    display: inline-block;
    border-radius: 3em;
    margin-right: 5px;
    margin-bottom: 15px;
}
.section3 .activity .visual{
    width:45%
}
.section3 .activity .visual .title{  display: none;  }
.section3 .activity .illustration{
    width: 84%;
    margin: 5rem 8% 0 8%;
    background-image: url(https://github.com/joe-jhon/work1/blob/main/section3-activity-img.png?raw=true);
    background-size: 100%;
    background-repeat: no-repeat;
    aspect-ratio: 1/0.717;
}
/*--アコーディオンメニュー--*/
.section3 .activity .details{	
    text-align: center;
    max-width: 580px;
}
.section3 .activity .details .toggle{
	display: none;
}
.section3 .activity .details .Label{	
	display: inline-block;
	color: #212121; 
    padding-right: 1rem;
}
.section3 .activity .details .Label::after{		
	content:"";
	width: 6px;
	height: 6px;
	border-top: 2px solid #212121;
	border-right: 2px solid #212121;
	-webkit-transform: rotate(45deg);
	position: absolute;
	top:calc( 50% - 5px );
	right: -5px;
	transform: rotate(135deg);
}
.section3 .activity .details .Label, .tag{
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: all 0.3s;
}
.section3 .activity .details .tag{		
	height: 0;
	margin-bottom:10px;
	overflow: hidden;
    text-align: start;
}
.section3 .activity .details .toggle:checked + .Label + .tag{	
	height: auto;
	padding:20px 0;
	transition: all .3s;
}
.section3 .activity .details .toggle:checked + .Label::after{
	transform: rotate(-45deg) !important;
    top: calc( 50% - 3px );
}
/*----meeting--------------*/
.section3 .meeting{
    display: flex;
    flex-direction: row;
    margin-bottom: 5rem;
}
.section3 .meeting .textarea{
    font-family: Zen Maru Gothic;
    font-weight: 500;
    width: 45%;
    margin: 0 5%;
}
.section3 .meeting .title{
    font-size: 6rem;
    text-shadow: -7px 7px 0 #990E2A;
    letter-spacing: -0.2rem;
    margin-left: -100px;
    margin-bottom: 2rem;
}
.section3 .meeting .title .M{  position:relative;  right:-0.2rem;  }
.section3 .meeting .title .E{  position:relative;  bottom:0.3rem;  }
.section3 .meeting .title .E2{  position:relative;  bottom:0.6rem;  }
.section3 .meeting .title .T{  position:relative;  bottom:0.9rem;  }
.section3 .meeting .title .I{  position:relative;  bottom:1.2rem;  }
.section3 .meeting .title .N{  position:relative;  bottom:1.5rem;  }
.section3 .meeting .title .G{  position:relative;  bottom:1.8rem;  }

.section3 .meeting .text{
    font-family: Zen Maru Gothic;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 2rem;
}
.section3 .meeting .visual{
    width:45%
}
.section3 .meeting .visual .title{  display: none;  }
.section3 .meeting .illustration{
    width: 84%;
    margin: 4rem 8% 0 8%;
    background-image: url(https://github.com/joe-jhon/work1/blob/main/section3-meeting-img.png?raw=true);
    background-size: 100%;
    background-repeat: no-repeat;
    aspect-ratio: 1/0.717;
}
.section3{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*-----------------------------------------------セクション3終了--------*/

/*-----------------------------------------------セクション4開始--------*/

.section4{
    background-image: url(https://github.com/joe-jhon/work1/blob/main/section4-pc.png?raw=true);
    background-size: 100%;
    background-repeat: no-repeat;
    aspect-ratio: 1/0.923;
    width: 96%;
    margin: -180px 2% 2% 2%;
    display: flex;
    align-items: center;
}
.section4 .text{
    margin-left: 16%;
}
.section4 .section-title{
    font-size: 2rem;
    font-family: 'zen-maru-gothic';
    font-weight: 500;
    line-height: 3.5rem;
    margin-bottom: 58vw;
}
.section4 .text .scroll {  display:none;  }
.section4 .horizontal-list {  display:none;  }
.section4 .card {  display:none;  }
.section4 .text a{
    display: flex;
    align-items: center;
    width: fit-content;
    font-size: 1.1rem;
    color: #fff;
    background-color: #212121;
    padding: 1rem 2rem;
    border-radius: 3em;
    letter-spacing: 0.1rem;
    text-decoration: none;
    transition: 0.2s all linear;
}
.section4 .text a span{
    font-family: New Zen;
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}
.section4 .text p{
    margin-right: 1rem;
    font-family: Zen Maru Gothic;
    font-weight: 500;
}
.section4 .text a span{
    font-family: New Zen;
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}
.section4 .text a:hover .arrow [class*='arrow'] {
    left: 0.5rem;
}
.section4 .text a:hover{
    background-color: #3C3C3C;
}
/*-----------------------------------------------セクション4終了--------*/

footer{
    background: #73ADD1;
    width: 100%;
    height: 550px;
    position: relative;
    overflow: hidden;
}
footer nav{
    width: fit-content;
    margin-left: 5%;
    padding-top: 50px;
}
footer li{
    margin-bottom: 2rem;
}
footer ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
footer a{
    text-decoration: none;
    color: #fff;
    margin-bottom: 30px;
    font-size:1rem;
    font-family: Zen Maru Gothic;
    font-weight: 500;
    transition: 0.2s all linear;
}
footer a:hover{
    color: #BCBCBC;
}

footer .info{
    font-size: 1rem;
    font-family: Zen Maru Gothic;
    font-weight: 500;
    color: #fff;
    width: fit-content;
    margin-left: 5%;
    margin-top: 70px;
    line-height: 2rem;
}
footer .info span{
    font-size: 1.1rem;
    font-family: New Zen;
    font-weight: 500;
}
footer .copywrite{
    position: absolute;
    width: 100%;
    color: #fff;
    font-size:0.6rem;
    font-family: New Zen;
    font-weight: 500;
    text-align: center;
    z-index: 99;
    bottom: 30px;
}
footer .flower1,footer .flower2,footer .flower3{
    position: absolute;
}
footer .flower1{
    transform: rotate(340deg);
    z-index: 5;
    width: 32%;
    right: -10%;
    bottom: 90px;
}
footer .flower2{
    transform: rotate(350deg);
    z-index: 4;
    width: 44%;
    right: -2%;
    bottom: -150px;
}
footer .flower3{
    transform: rotate(240deg);
    z-index: 3;
    width: 32%;
    right: 3%;
    bottom: -40px;
}
/*----------------------------------------------------------1260--------*/
@media screen and (max-width: 1260px) {
header nav a {
    font-size: 0.8rem;
}
.section1 .logo {
    width: 25%;
}
.section1 .text {
    width: 55%;
    margin-left: 45%;
    bottom: 125px;
}
.section1 .text .main p {
    font-size: 1.9rem;
    margin-bottom: 70px;
    line-height: 4rem;
}
.section1 .text .main .no-color {
    font-size: 2.5rem;
}
.section1 .text .main .no-color span {
    letter-spacing: 0.6rem;
}
.section1 .text .main .color {
    font-size: 3.5rem;
}
.section1 .text .sub p {
    font-size: 1.2rem;
    margin-bottom: 40px;
}
.section1 .text .sub a {
    font-size: 1.1rem;
    padding: 0.8em 1.5em;
}
.section1 .text .sub .en {
    font-size: 1.3rem;
}
.section2 .text .section-title {
    margin-bottom: 40px;
}
.section2 .text .introduction {
    line-height: 2.3rem;
    margin-bottom: 40px;
}
.section3 .section-title {
    margin-bottom: 5rem;
    font-size: 1.7rem;
}
.section3 .section-title .arona {
    font-size: 2.7rem;
}
.section3 .section-title .tokutyou {
    font-size: 2.5rem;
}
.section3 .activity {
    margin-bottom: 5rem;
}
.section3 .activity .title {
    font-size: 5rem;
    margin-bottom: 1rem;
}
.section3 .meeting .title {
    font-size: 5rem;
    margin-bottom: 1rem;
}
.section4{
    margin: -100px 2% 2% 2%;
}
.section4 .section-title {
    font-size: 1.8rem;
}
footer {
    height: 470px;
}
footer a {
    font-size: 0.8rem;
}
footer li {
    margin-bottom: 1.5rem;
}
footer .info {
    font-size: 0.8rem;
    margin-top: 50px;
}
footer .info span {
    font-size: 0.9rem;
}
}
/*----------------------------------------------------------1024--------*/
@media screen and (max-width: 1024px) {
header nav {    display: none    }
.hamburger-menu{display:block}

.section1 {
    background-image: url(https://github.com/joe-jhon/work1/blob/main/section1-tablet.png?raw=true);
    aspect-ratio: 1/0.913;
}
.section1 .text {
    width: 59%;
    margin-left: 41%;
    bottom: 70px;
}
.section2 {
    background-image: url(https://github.com/joe-jhon/work1/blob/main/section2-tablet.png?raw=true);
    aspect-ratio: 1/0.879;
    margin: -60px 5% 0% 1%;
}
.section3 {
    background-image: url(https://github.com/joe-jhon/work1/blob/main/section3-tablet.png?raw=true);
    aspect-ratio: 1/2.249;
    margin: -30px 0% 0% 7%;
}
.section3 .section-title {
    font-size: 1.5rem;
}
.section3 .section-title .tokutyou {
    font-size: 2rem;
    margin-bottom: 0.3rem;
}
.section3 .section-title .arona {
    font-size: 2.2rem;
}
.section3 .activity{
    flex-direction: column-reverse;
}
.section3 .activity .textarea .title{  display:none;  }
.section3 .activity .text {
    font-size: 1rem;
    line-height: 1.7rem;
}
.section3 .activity .visual{
    width: 55%;
}
.section3 .activity .visual .title{
    display:inline-block;
    font-family: Zen Maru Gothic;
    font-weight: 500;
    letter-spacing: -0.4rem;
    position: relative;
    left: 50px;
}
.section3 .activity .illustration {
    width: 80%;
    margin: 1rem 10% 1rem 10%;
}
.section3 .activity .category .title {
    display: block;
    font-size: 1rem;
}
.section3 .activity .category .tag p {
    font-size: 0.9rem;
}

.section3 .meeting{
    flex-direction: column-reverse;
    align-items: end;
}
.section3 .meeting .textarea .title{  display:none;  }
.section3 .meeting .text {
    font-size: 1rem;
    line-height: 1.7rem;
}
.section3 .meeting .visual{
    width: 55%;
}
.section3 .meeting .visual .title{
    display:inline-block;
    font-family: Zen Maru Gothic;
    font-weight: 500;
    letter-spacing: -0.4rem;
    position: relative;
    left: 50px;
}
.section3 .meeting .illustration {
    width: 80%;
    margin: 1rem 10% 1rem 10%;
}
.section4 {
    background-image: url(https://github.com/joe-jhon/work1/blob/main/section4-tablet.png?raw=true);
    aspect-ratio: 1/1.217;
    margin: -80px 2% 2% 2%
}
.section4 .section-title {
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-bottom: 77vw;
}
}
/*----------------------------------------------------------820---------*/
@media screen and (max-width: 820px){
.section3 .section-title {
    margin-bottom: 4rem;
}
.section3 .activity {
    margin-bottom: 1rem;
}
}
/*----------------------------------------------------------750---------*/
@media screen and (max-width: 750px){
.section1 .text .main p {
    font-size: 1.6rem;
}
.section1 .text .main .no-color {
    font-size: 2.2rem;
}
.section1 .text .main .color {
    font-size: 2.5rem;
}
.section2 .text .section-title {
    font-size: 1.1rem;
    margin-bottom: 30px;
}
.section1 .text .sub p {
    font-size: 1.1rem;
}
.section1 .text .sub .en {
    font-size: 1.2rem;
}
.section1 .text .sub a {
    font-size: 1rem;
}
.section2 .text .name {
    font-size: 2.5rem;
}
.section2 .text p {
    font-size: 0.9rem;
}
.section2 .text .introduction {
    margin-bottom: 30px;
    line-height: 1.8rem;
}
.section2 .text a span {
    font-size: 1rem;
}
.section3 .section-title {
    margin-bottom: 5rem;
    margin-top: 4rem;
}
.section3 .section-title {
    font-size: 1.1rem;
}
.section3 .section-title .arona {
    font-size: 1.6rem;
}
.section3 .section-title .tokutyou {
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
}
.section3 .activity {
    margin-bottom: 4rem;
}
.section3 .activity .title {
    font-size: 4rem;
    margin-bottom: 0rem;
}
.section3 .activity .visual {
    width: 60%;
}
.section3 .activity .visual .title {
    display: inline-block;
}
.section3 .activity .illustration {
    width: 70%;
    margin: 1rem 15% 1rem 15%;
}
.section3 .activity .textarea {
    width: 50%;
}
.section3 .activity .text {
    font-size: 0.9rem;
}
.section3 .activity .category .title {
    font-size: 0.9rem;
}
.section3 .activity .category .tag p {
    font-size: 0.8rem;
}
.section3 .activity .details .Label {
    font-size: 0.9rem;
}
.section3 .meeting .title {
    font-size: 4rem;
    margin-bottom: 0;
}
.section3 .meeting .textarea {
    width:50%
}
.section3 .meeting .text {
    font-size: 0.9rem;
}
.section3 .meeting .visual {
    width: 60%;
}
.section3 .meeting .visual .title {
    display: inline-block;
}
.section3 .meeting .illustration {
    width: 70%;
    margin: 1rem 15% 1rem 15%;
}
.section4 .section-title {
    font-size: 1.2rem;
    line-height: 2rem;
    margin-bottom: 80vw;
}
.section4 .text a {
    font-size: 0.9rem;
}
.section4 .text a span{
    font-size: 1rem;
}
footer .copywrite {
    bottom: 15px;
}
footer .flower1 {
    width: 45%;
    right: -15%;
    bottom: 130px;
}
footer .flower2 {
    width: 60%;
    right: -5%;
    bottom: -100px;
}
footer .flower3 {
    width: 45%;
    right: -7%;
    bottom: 0px;
}
}
/*----------------------------------------------------------690---------*/
@media screen and (max-width: 690px) {
.section3 .activity {
    margin-bottom: 4rem;
}
.section3 .section-title {
    margin-bottom: 2rem;
}
}
/*----------------------------------------------------------600---------*/
@media screen and (max-width: 600px) {
.menu-content ul li a {
    font-size: 0.8rem;
}
.section1 .text .main p {
    font-size: 1.3rem;
    line-height: 3rem;
    margin-bottom: 50px;
}
.section1 .text .main .no-color {
    font-size: 1.7rem;
}
.section1 .text .main .no-color span {
    letter-spacing: 0.4rem;
}
.section1 .text .main .color {
    font-size: 2rem;
    letter-spacing: 0.4rem;
}
.section1 .text .main .adjustment {
    left: -0.3rem;
}
.section2 .text .section-title {
    font-size: 1.1rem;
    margin-bottom: 30px;
}
.section1 .text .sub p {
    font-size: 0.8rem;
    margin-bottom: 30px;
}
.section1 .text .sub .en {
    font-size: 0.9rem;
}
.section1 .text .sub a {
    font-size: 0.8rem;
}
.section2 {
    margin: -30px 5% 0% 1%;
}
.section2 .text .name {
    font-size: 1.8rem;
}
.section2 .text p {
    font-size: 0.7rem;
}
.section2 .text a span {
    font-size: 0.8rem;
}
.section2 .text .section-title {
    font-size: 1rem;
    margin-bottom: 15px;
}
.section2 .text .introduction {
    margin-bottom: 20px;
    line-height: 1.5rem;
}
.section2 .text a {
    font-size: 0.7rem;
}
.arrow [class*='arrow'] {
    width: 9px;
    height: 9px;
    border-width: 2px 2px 0 0;
}
.arrow [class*='arrow']:before {
    top: -2px;
    width: 12px;
    height: 2px;
}
.arrow [class*='arrow']:after {
    top: -2px;
    left: -1px;
    width: 2px;
    height: 2px;
    box-shadow: inset 0 0 0 24px, 8px 8px;
}
.section3 {
    margin: -10px 0% 0% 7%;
}
.section3 .section-title {
    margin-left: 16%;
    margin-bottom: 0rem;
    font-size: 0.9rem;
}
.section3 .section-title .arona {
    font-size: 1.2rem;
}
.section3 .section-title .tokutyou {
    font-size: 1.1rem;
    margin-bottom: 0.1rem;
}
.section3 .activity {
    margin-bottom: 1rem;
}
.section3 .activity .visual {
    width: 100%;
}
.section3 .activity .visual .title {
    font-size: 3.5rem;
    position: relative;
    left: 110px;
    bottom: -50px;
}
.section3 .activity .illustration {
    width: 50%;
    margin: 1rem 25% 1rem 25%;
}
.section3 .activity .textarea {
    width: 68%;
    margin: 0 16%;
}
.section3 .activity .text {
    font-size: 0.7rem;
    line-height: 1.3rem;
    margin-bottom: 20px;
}
.section3 .activity .category .title {
    font-size: 0.7rem;
}
.section3 .activity .category .tag p {
    font-size: 0.6rem;
}
.section3 .activity .category .tag p {
    margin-right: 3px;
    margin-bottom: 10px;
}
.section3 .activity .details .Label {
    font-size: 0.8rem;
}
.section3 .meeting .visual {
    width: 100%;
}
.section3 .meeting .visual .title {
    font-size: 3.5rem;
    position: relative;
    left: 110px;
    bottom: -50px;
}
.section3 .meeting .illustration {
    width: 50%;
    margin: 1rem 25% 1rem 25%;
}
.section3 .meeting .textarea {
    width: 68%;
    margin: 0 16%;
}
.section3 .meeting .text {
    font-size: 0.7rem;
    line-height: 1.3rem;
    margin-bottom: 20px;
}
.section4 {
    margin: -40px 2% 2% 2%;
}
.section4 .section-title {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 78vw;
    margin-top: 2vw;
}
.section4 .text a {
    font-size: 0.7rem;
}
.section4 .text a span {
    font-size: 0.8rem;
}
footer a {
    font-size: 0.7rem;
}
footer li {
    margin-bottom: 1.2rem;
}
footer .info {
    font-size: 0.7rem;
}
footer .info span{
    font-size: 0.8rem;
}
footer .flower1 {
    width: 52%;
    right: -20%;
    bottom: 130px;
}
footer .flower2 {
    width: 68%;
    right: 0%;
    bottom: -65px;
}
footer .flower3 {
    width: 52%;
    right: -11%;
    bottom: 14px;
}
}
/*----------------------------------------------------------515---------*/
@media screen and (max-width: 515px){
.section3 .section-title {
    margin-left: 5%;
    margin-bottom: -1rem;
}
.section3 .activity .textarea {
    width: 90%;
    margin: 0 5%;
}
.section3 .meeting .textarea {
    width: 90%;
    margin: 0 5%;
}
}
/*----------------------------------------------------------450---------*/
@media screen and (max-width: 450px) {
.section1 {
    background-image: url(https://github.com/joe-jhon/work1/blob/main/section1-sp.png?raw=true);
    aspect-ratio: 1/1.841;
}
.section1 .logo {
    margin-top: 10px;
    margin-left: 10px;
    width: 35%;
}
.section1 .text {
    width: 93%;
    margin-left: 7%;
    top: 40px;
    bottom: 0px;
}
.section1 .text .main p {
    font-size: 2rem;
    margin-bottom: 80px;
}
.section1 .text .main .no-color {
    font-size: 2.5rem;
}
.section1 .text .main .color {
    font-size: 2.9rem;
}
.section1 .text .main .adjustment {
    left: -0.4rem;
}
.section1 .text .sub p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}
.section1 .text .sub .en {
    font-size: 1.3rem;
}
.section1 .text .sub a {
    font-size: 1.1rem;
}
.section2 {
    background-image: url(https://github.com/joe-jhon/work1/blob/main/section2-sp.png?raw=true);
    aspect-ratio: 1/2.059;
}
.section2 .text .section-title {
    font-size: 1.1rem;
    margin-bottom: 40px;
}
.section2 .text .name {
    font-size: 2.4rem;
}
.section2 .text {
    margin-left: 7%;
}
.section2 .text .introduction {
    margin-bottom: 40px;
    line-height: 2rem;
    font-size: 0.9rem;
}
.section2 .text p {
    font-size: 0.8rem;
}
.section2 .text a span {
    font-size: 0.9rem;
}
.section3 {
    background-image: url(https://github.com/joe-jhon/work1/blob/main/section3-sp.png?raw=true);
    aspect-ratio: 1/4.648;
    margin: -30px 0% 0% 7%;
}
.section3 .section-title {
    margin-bottom: 7rem;
    font-size: 1.1rem;
}
.section3 .section-title .arona {
    font-size: 1.6rem;
}
.section3 .section-title .tokutyou {
    font-size: 1.5rem;
}
.section3 .activity {
    margin-bottom: 8rem;
}
.section3 .activity .visual .title {
    font-size: 4rem;
    left: 80px;
    bottom: -10px;
}
.section3 .activity .illustration {
    width: 80%;
    margin: 1rem 10% 1rem 10%;
}
.section3 .activity .text {
    font-size: 0.9rem;
    line-height: 1.6rem;
    margin-bottom: 40px;
}
.section3 .activity .category .title {
    font-size: 0.9rem;
}
.section3 .activity .category .tag p {
    font-size: 0.8rem;
}
.section3 .activity .details .Label {
    font-size: 0.9rem;
}
.section3 .meeting .visual .title {
    font-size: 4rem;
    left: 80px;
    bottom: -10px;
}
.section3 .meeting .illustration {
    width: 80%;
    margin: 1rem 10% 1rem 10%;
}
.section3 .meeting .text {
    font-size: 0.9rem;
    line-height: 1.6rem;
}
.section4 {
    background-image: url(https://github.com/joe-jhon/work1/blob/main/section4-sp.png?raw=true);
    aspect-ratio: 1/2.718;
}
.section4 .section-title {
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-bottom: 60px;
}
.section4 .text {
    margin-left: 7%;
}
.section4 .text a {
    font-size: 0.8rem;
}
.section4 .text a span {
    font-size: 0.9rem;
}
.section4 .text .scroll {
    display:flex;  
    flex-direction: row;
    width: fit-content;
    align-items: center;
    font-family: New Zen;
    font-weight: 500;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    margin-bottom: 10px;
    margin-left: 5px;
}
.section4 .text .scroll .arrow [class*='arrow'] {
    color: #212121;
    margin-left: 0.5rem;
}
.section4 .horizontal-list {  display:block;  }
.section4 .card {  display:block;  }
.section4 .horizontal-list {
    overflow-x: auto;
    white-space: nowrap;
    width: 100vw;
    margin-left: -9vw;
    background: #81C8A6;
    border: solid #212121;
    border-width: 5px 0px 5px 0px;
}
.section4 .card {
    background-image: url(https://github.com/joe-jhon/work1/blob/main/section4-card.png?raw=true);
    aspect-ratio: 1/2.061;
    background-size: 100%;
    background-repeat: no-repeat;
	display: inline-block;
	width: 75%;
	margin: 20px 10px;
	font-size: 1px;
	color: #fff;
	background-color: #ff5a5f;
}
.section4 .text a {
    margin-top: 70px;
}
footer .flower1 {
    width: 58%;
    right: -24%;
    bottom: 140px;
}
footer .flower2 {
    width: 76%;
    right: -6%;
    bottom: -51px;
}
footer .flower3 {
    width: 58%;
    right: -17%;
    bottom: 36px;
}
}
/*----------------------------------------------------------410---------*/
@media screen and (max-width: 405px) {
.section1 .text .main p {
    font-size: 1.8rem;
    margin-bottom: 60px;
}
.section1 .text .main .no-color {
    font-size: 2.2rem;
}
.section1 .text .main .color {
    font-size: 2.5rem;
}
.section1 .text .sub p {
    font-size: 1rem;
}
.section1 .text .sub .en {
    font-size: 1.1rem;
}
.section1 .text .sub a {
    font-size: 0.9rem;
}
.section3 .section-title {
    margin-bottom: 3rem;
}
.section3 .activity {
    margin-bottom: 5rem;
}
.section4 .section-title {
    margin-bottom: 30px;
}
.section4 .text a {
    margin-top: 30px;
}
}
/*----------------------------------------------------------1600--------*/
@media screen and (min-width: 1600px) {
header nav a {
    font-size: 1.2rem;
    margin-left: 40px;
}
.section1 .logo {
    width: 23%;
}
.section1 .text {
    bottom: 200px;
}
.section1 .text .main p {
    font-size: 3rem;
}
.section1 .text .main .no-color {
    font-size: 4rem;
}
.section1 .text .main .color {
    font-size: 5.5rem;
}
.section1 .text .sub p {
    font-size: 2rem;
}
.section1 .text .sub .en {
    font-size: 2.1rem;
}
.section1 .text .sub a {
    font-size: 1.9rem;
}
.section2 .text .name {
    font-size: 5.3rem;
}
.section2 .text .section-title {
    font-size: 2rem;
    margin-bottom: 60px;
}
.section2 .text .question-mark {
    font-size: 1.8rem;
}
.section2 .text .introduction {
    line-height: 3.5rem;
    font-size: 1.8rem;
    margin-bottom: 80px;
}
.section2 .text p {
    font-size: 1.7rem;
}
.section2 .text a {
padding: 1.5rem 2.5rem;
}
.section2 .text a span {
    font-size: 1.8rem;
}
.arrow [class*='arrow'] {
    width: 15px;
    height: 15px;
}
.arrow [class*='arrow']:before {
    width: 20px;
}
.arrow [class*='arrow']:after {
    box-shadow: inset 0 0 0 24px, 13.5px 13.5px;
}
.section3 .section-title {
    font-size: 2.5rem;
}
.section3 .section-title .arona {
    font-size: 4rem;
}
.section3 .section-title .tokutyou {
    font-size: 3.6rem;
    margin-bottom: 0.4rem;
}
.section3 .activity {
    margin-bottom: 11rem;
}
.section3 .activity .title {
    font-size: 9rem;
    letter-spacing: -0.6rem;
}
.section3 .activity .text {
    font-size: 1.8rem;
    line-height: 3rem;
}
.section3 .activity .category .title {
    font-size: 1.8rem;
}
.section3 .activity .text {
    margin-bottom: 50px;
}
.section3 .activity .category .tag p {
    font-size: 1.7rem;
}
.section3 .activity .details .Label {
    font-size: 1.8rem;
}
.section3 .activity .details .Label::after {
    width: 15px;
    height: 15px;
    border-top: 3px solid #212121;
    border-right: 3px solid #212121;
    top: calc( 50% - 14px );
    right: -15px;
}
.section3 .activity .details .toggle:checked + .Label::after {
    top: calc( 50% - 5px );
}
.section3 .activity .illustration {
    width: 88%;
    margin: 5rem 10% 0 2%;
}
.section3 .meeting .title {
    font-size: 9rem;
    letter-spacing: -0.6rem;
}
.section3 .meeting .text {
    font-size: 1.8rem;
    line-height: 3rem;
}
.section3 .meeting .illustration {
    width: 88%;
    margin: 5rem 10% 0 2%;
}
.section4 .section-title {
    font-size: 3rem;
    line-height: 4.5rem;
}
.section4 .text a {
    font-size: 1.7rem;
    padding: 1.5rem 2.5rem;
}
.section4 .text a span {
    font-size: 1.8rem;
}
footer{
    height: 600px;
}
footer a {
    font-size: 1.2rem;
}
footer .info {
    font-size: 1.2rem;
    line-height: 2.3rem;
}
footer .info span {
    font-size: 1.3rem;
}
footer .copywrite {
    font-size: 0.8rem;
}
}

